.tertiary {
    background-color: #17223B;
  }
  
  .primary {
    background-color: #263859;
  }
  
  .secondary {
    background-color: #FF6768;
  }

  .text-color {
    color: #FF6768;
  }

  a[aria-current="page"] {
    color: #FF6768;
  }