@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;400;500;700;800;900&family=Nunito:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --Nunito-font: 'Nunito', sans-serif;
    --Arima-font: 'Arima Madurai', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Nunito-font);
}

.profile-card {
    background: #6B778D;
    border-radius: 18px;
}

.box {
    background: #6B778D;
    border-radius: 10px;
    padding: 25px 20px;
}
.profile-box {
    background: #6B778D;
    border-radius: 10px;
    padding: 25px 20px;
}

.badge {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 124px;
    height: 40px;
    background: #6B778D;
    border-radius: 18px 18px 0px 0px;
}

.line {
    height: 0px;
    border: 4px solid #6B778D;
}

h3 {
    font-size: 20px;
}

input,
select,
textarea,
::placeholder {
    color: #626262 !important;
}

.search-container {
            margin: 10px 0 38px;
        }

.search-field input {
    padding: 14px;
    border-radius: 5px;
    width: 800px;
}
.btn-box {
    width: 65px;
    margin-left: 10px;
    border-radius: 5px;
}

.btn-box button {
    width: 35px;
    height: 35px;
}

/* Profile */
.name {
    margin-left: 35px;
}
.indus-name {
    margin-left: 50px;
}
.sum {
    margin-left: 85px;
}
.country {
    margin-left: 105px;
}

/* Education */
.deg {
    margin-left: 122px;
}
.fos {
    margin-left: 70px;
}
.dat {
    margin-left: 145px;
}
.sch {
    margin-left: 30px;
}

/* Experience */
.job {
    margin-left: 36px;
}
.com{
    margin-left: 18px;
}

.work-as {
    margin-left: 15px;
}

.e-date {
    margin-left: 123px;
}

button {
    @apply transform transition duration-500 hover:scale-95;
}
span {
    @apply font-bold;
}

.header-radius, .nav-radius {
    border-radius: 0 0 30px 30px;
}

@media screen and (max-width: 768px) {
    .search-field input {
        width: 300px;
    }
}