@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;400;500;700;800;900&family=Nunito:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --Nunito-font: 'Nunito', sans-serif;
    --Arima-font: 'Arima Madurai', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Nunito-font);
}

.profile-card {
    background: #6B778D;
    border-radius: 18px;
}

.badge {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 124px;
    height: 40px;
    background: #6B778D;
    border-radius: 18px 18px 0px 0px;
}

.line {
    height: 0px;
    border: 4px solid #6B778D;
}

input, select, textarea, ::placeholder {
    color: #626262!important;
}
  