<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/colors.css">
    <title>Profile - Hire the best Developers</title>
</head>
<body>
    <section class=" text-white h-screen tertiary">
        <nav class="px-2 sm:px-4 py-2.5 rounded primary">
            <div class="flex flex-wrap justify-between items-center mx-auto">
                <a href="home.html" class="text-5xl font-bold">Logo</a>
                <ul class="flex flex-col p-4 mt-4  rounded-lg  md:flex-row md:space-x-8 md:mt-0 text-lg">
                    <li><a href="home.html" class="block py-2 pr-2 pl-2 text-white">Home</a></li>
                    <li><a href="about.html" class="block py-2 pr-2 pl-2 rounded">About</a></li>
                    <li><a href="saved_profile.html" class="block py-2 pr-2 pl-2 rounded">Saved</a></li>
                    <li><a href="account.html" class="block py-2 pr-2 pl-2 rounded" aria-current="page">Account</a></li>
                    <li><a href="login.html" class="block py-2 pr-2 pl-2 rounded">Logout</a></li>
                </ul>
            </div>
        </nav>
        <main class="flex my-8 mx-4 text-lg">
            <aside class=" w-2/6">
                <div class="profile-card flex justify-center py-8">
                    <div class="text-center">
                        <img src="../../images/Profile Photo.svg" alt="profile picture">
                        <p>Dennis Ivanov</p>
                        <span class="username">@dennisivy</span> 
                        <p>Fullstack Django Developer</p>
                    </div>
                </div>

                <div class="social-info">
                    <span class="badge text-center mt-8">Social Info</span>
                    <hr class="line w-full mb-2.5"> 
                    <p>LinkedIn &nbsp; &nbsp; &nbsp; &nbsp;  <span>:username</span></p>
                    <p class="mt-2">Github &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;    <span>:username</span></p>
                    <p class="mt-2">Twitter &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  <span>:username</span></p>
                    <p class="mt-2">Facebook &nbsp; &nbsp; &nbsp;   <span>:username</span></p>
                    <div class="">
                        <button class="btn text-white secondary py-2 px-4 mt-4 rounded-lg">Schedule Video Call</button>
                    </div>
                </div>
            </aside>
            <section>
                <div class="ml-6">
                    <div class="basic-info">
                        <span class="badge text-center">Basic Info</span>
                        <hr class="line w-full mb-2.5"> 
                        <p>Name &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span>:Dennis Ivanov</span></p>
                        <p class="mt-2">Username &nbsp; &nbsp;    <span>:dennisivy</span></p>
                        <p class="mt-2">Email &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp; <span>:dennisivy@gmail.com</span></p>
                        <p class="mt-2">Title &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  <span>:FullStack Django Developer</span></p>

                        <div class="about mt-8">
                            <span class="text-2xl mb-6">About:</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat ut purus nec scelerisque. Nunc egestas blandit ligula, auctor scelerisque quam accumsan in. Vivamus facilisis vitae urna nec iaculis. Curabitur suscipit dapibus lectus, in pellentesque magna fringilla sit amet. Etiam hendrerit ultrices posuere. Integer arcu odio, lobortis mollis libero eu, faucibus aliquet orci. Quisque laoreet eget odio ac bibendum. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Duis nec urna enim. Nulla egestas volutpat cursus. Integer pretium nec nisl a malesuada. Mauris eu finibus ante. Aliquam est sem, tristique viverra nibh in, feugiat pharetra mi. Integer malesuada leo vel pretium tempus. Nullam ipsum ante, cursus vel ultricies eget, posuere quis purus.</p>
                        </div>
                    </div>

                    <div class="more-info mt-8">
                        <span class="badge text-center">More Info</span>
                        <hr class="line w-full mb-2.5"> 
                    <div class="flex">

                        <div class="mr-12">
                            <p>Country &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>:USA</span></p>
                            <p class="mt-2">Level of Expertise &nbsp; &nbsp;    <span>:Expert</span></p>
                            <p class="mt-2">Experience &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>:3-5 Years</span></p>
                        </div>

                        <div class="ml-12">
                            <p>Looking For &nbsp; &nbsp; <span>:Master</span></p>
                            <p class="mt-2">Looking For &nbsp; &nbsp;    <span>:Part Time Job</span></p>
                            <p class="mt-2">Is Available &nbsp; &nbsp;  <span>:Yes</span></p>
                        </div>
                    </div>
                </div>

                <div class="skills mt-8">
                    <div class="actions text-color text-right -mb-8 mr-4">
                        <a href="edit_skills.html" class="mr-6">Edit Skills</a>
                        <a href="add_skill.html">Add Skill</a>
                    </div>
                    <span class="badge text-center">Skills</span>
                    <hr class="line w-full mb-2.5"> 
                <div>
                    <div class=" flex">
                        <span class="mr-12">Python</span>
                        <p class="ml-12">Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor volutpat. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Proin eget tortor risus.</p>
                    </div>

                    <div class="flex">
                        <span class="mr-12">Django</span>
                        <p class="ml-12">Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor volutpat. </p>

                    </div>
                </div>
            </div>

            <div class="projects mt-8">
                <div class="actions text-color text-right -mb-8 mr-4">
                    <a href="edit_projects.html" class="mr-6">Edit Projects</a>
                    <a href="add_project.html">Add Project</a>
                </div>
                <span class="badge text-center">Projects</span>
                <hr class="line w-full mb-2.5"> 
            <div>
                <div class=" flex">
                    <span class="mr-12">Project 1</span>
                    <p class="ml-12">Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor volutpat. </p>
                </div>
            </div>
        </div>
                </div>
            </section>
        </main>
    </section>
</body>
</html>