<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/colors.css">
    <title>Saved profiles - Hire the best Developers</title>
</head>

<body>
    <section class="text-white  xl:h-screen tertiary">
        <nav class="px-2 sm:px-4 py-2.5 rounded primary">
            <div class="flex flex-wrap items-center justify-between mx-auto">
                <a href="/home.html" class="text-5xl font-bold">Logo</a>
                <ul class="flex flex-col p-4 mt-4 text-lg rounded-lg md:flex-row md:space-x-8 md:mt-0">
                    <li><a href="/home.html" class="block py-2 pl-2 pr-2 text-white">Home</a></li>
                    <li><a href="#" class="block py-2 pl-2 pr-2 rounded">About</a></li>
                    <li><a href="../base/saved_profile.html" class="block py-2 pl-2 pr-2 rounded" aria-current="page">Saved</a></li>
                    <li><a href="../accounts/account.html" class="block py-2 pl-2 pr-2 rounded">Account</a></li>
                    <li><a href="login.html" class="block py-2 pl-2 pr-2 rounded">Logout</a></li>
                </ul>
            </div>
        </nav>
        <main class="flex pb-8 mx-4 mt-8 text-lg">
        </main>
    </section>
    
</body>
</html>