<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved pages</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="bg-slate-900 w-screen">
  <header class="bg-slate-700 flex justify-between items-center text-white h-12 p-6">
    <p>LOGO</p>
    <nav class="flex space-x-6">
        <a href="#">HOME</a>
        <a href="#">ABOUT</a>
        <a href="#">SAVED</a>
        <a href="#">ACCOUNT</a>
        <a href="#">LOGOUT</a>
    </nav>
  </header> 
  <div class="container2 flex justify-between items-center flex-wrap  p-6">
       <div class="left bg-gray-600 w-96 h-64 rounded"></div>
       <div class="center bg-gray-600 w-96 h-64 rounded"></div>
       <div class="right bg-gray-600 w-96 h-64 rounded"></div> 
       <div class="right bg-gray-600 w-96 h-64 rounded my-2"></div> 
</body>
</html>