<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Login - Hire the best Developers</title>
</head>
<body>
    <body class="bg-tertiary">
        <main class="flex ">
            <div class="w-full">
                <h2>Login</h2>
                <form action="">
                    <input type="text">
                    <input type="text">
                    <button type="submit">Login</button>
                    <p>Don't have an account? <a href="register.html">Register Here</a></p>
                </form>
                <button class="btn bg-blue-900 text-white">Click me!</button>

            </div>
            <img src="../../images/undraw_team_page_re_cffb 1.svg" alt="login">
        </main>
    </body>
</body>
</html>