<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Login - Hire the best Developers</title>
</head>
<body>
    <body >
        <section class="bg-tertiary text-white h-screen ">

                <main class="flex bg-primary max-w-6xl m-auto">
                    <div class="w-full my-10">
                        <h2 class="text-4xl font-bold">Log in</h2>
                        <form action="" class="w-1/2 ml-10">
                            <input type="text" class="m-2 block  p-3">
                            <input type="text" class="m-2 block ">
                            <button type="submit" class="m-6 block">Login</button>
                            <p>Don't have an account? <a href="register.html" class="text-blue-600">Register Here</a></p>
                        </form>
                    </div>
                    <img src="../../images/undraw_team_page_re_cffb 1.svg" alt="login">
                </main>
            
        </section>
    </body>
</body>
</html>