<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/colors.css">
    <title>Add Skill - Hire the best Developers</title>
</head>

    <body class=" text-white  xl:h-screen tertiary">
        <section>
            <nav class="px-2 sm:px-4 py-2.5 rounded primary ">
                <div class="flex flex-wrap justify-between items-center mx-auto">
                    <a href="/home.html" class="text-5xl font-bold">Logo</a>
                    <ul class="flex flex-col p-4 mt-4  rounded-lg  md:flex-row md:space-x-8 md:mt-0 text-lg">
                        <li><a href="/home.html" class="block py-2 pr-2 pl-2 text-white">Home</a></li>
                        <li><a href="about.html" class="block py-2 pr-2 pl-2 rounded">About</a></li>
                        <li><a href="../base/saved_profile.html" class="block py-2 pr-2 pl-2 rounded">Saved</a></li>
                        <li><a href="../accounts/account.html" class="block py-2 pr-2 pl-2 rounded"
                                aria-current="page">Account</a>
                        </li>
                        <li><a href="../accounts/login.html" class="block py-2 pr-2 pl-2 rounded">Logout</a></li>
                    </ul>
                </div>
            </nav>
            <div class="h-12"></div>
            <main class="flex primary max-w-7xl m-auto ">
                <div class="form w-full mx-16 mt-20 mb-10">
                    <form action="" method="post">
                        <div>
                            <select name="skill1-name" class="w-full my-2 px-4 py-2 border rounded-md focus:outline-none  p-3">
                                <option value="Python">Python</option>
                                <option value="Python">Javascript</option>
                                <option value="Python">React</option>
                                <option value="Python">Node</option>
                            </select>
                        </div>
                        <div>
                            <textarea
                                placeholder="Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec sollicitudin molestie malesuada. "
                                class="w-full h-52 my-4 px-4 py-2 border rounded-md focus:outline-none  p-3"
                                name="project-description"></textarea>
                        </div>
                        <div>
                            <button type="submit"
                                class="btn text-white font-bold secondary py-4 px-6 mt-4 rounded-lg w-full">Add
                                Skill</button>
                        </div>
                    </form>
                </div>
            </main>

        </section>
    </body>


</html>