<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/colors.css">
    <title>Edit Skills - Dev Hub | Hire the best Developers</title>
</head>

<body class="h-screen text-white  tertiary">
    <section>
        <nav class=" nav-radius px-2 sm:px-4 py-2.5 rounded primary ">
            <div class="flex flex-wrap items-center justify-between mx-auto">
                <a href="/home.html" class="text-5xl font-bold">Logo</a>
                <ul class="flex flex-col p-4 mt-4 text-lg rounded-lg md:flex-row md:space-x-8 md:mt-0">
                    <li><a href="/home.html" class="block py-2 pl-2 pr-2 text-white">Home</a></li>
                    <li><a href="/about.html" class="block py-2 pl-2 pr-2 rounded">About</a></li>
                    <li><a href="../base/saved_profile.html" class="block py-2 pl-2 pr-2 rounded">Saved Profiles</a></li>
                    <li><a href="../accounts/account.html" class="block py-2 pl-2 pr-2 rounded">Account</a>
                    </li>
                    <li><a href="../accounts/login.html" class="block py-2 pl-2 pr-2 rounded">Logout</a></li>
                </ul>
            </div>
        </nav>
        <div class="h-12"></div>
        <main class="max-w-5xl m-auto mx-4 ">
            <div class="flex mb-4 primary">
                <div class="w-full mx-16 my-10 form">
                    <form action="" method="post">
                        <div>
                            <select name="skill1-name" class="w-full p-3 px-4 py-2 my-2 border rounded-md focus:outline-none">
                                <option value="Python">Python</option>
                                <option value="Python">Javascript</option>
                                <option value="Python">React</option>
                                <option value="Python">Node</option>
                            </select>
                        </div>
                        <div>
                            <textarea
                                placeholder="Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec sollicitudin molestie malesuada. "
                                class="w-full p-3 px-4 py-2 my-4 border rounded-md h-52 focus:outline-none"
                                name="skill1-description"></textarea>
                        </div>

                        <div>
                            <label for="delete">Delete:
                            </label>
                            <input type="checkbox" id="delete" name="delete"
                                class="w-4 h-4 p-3 ml-4 rounded-lg focus:outline-none ">
                        </div>

                    </form>
                </div>
            </div>
            <div class="flex mt-4 primary">
                <div class="w-full mx-16 my-10 form">
                    <form action="" method="post">
                        <div>
                            <select name="skill2-name" class="w-full p-3 px-4 py-2 my-2 border rounded-md focus:outline-none">
                                <option value="Python">Javascript</option>
                                <option value="Python">Python</option>
                                <option value="Python">React</option>
                                <option value="Python">Node</option>
                            </select>
                        </div>
                        <div>
                            <textarea
                                placeholder="Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non  "
                                class="w-full p-3 px-4 py-2 my-4 border rounded-md h-52 focus:outline-none"
                                name="skill2-description"></textarea>
                        </div>

                        <div>
                            <label for="delete">Delete:
                            </label>
                            <input type="checkbox" id="delete2" name="delete"
                                class="w-4 h-4 p-3 ml-4 rounded-lg focus:outline-none ">
                        </div>

                    </form>
                </div>
            </div>
            <button type="submit" class="w-full px-6 py-3 my-6 font-bold text-white rounded-lg btn secondary">Update
                Skill
            </button>
        </main>

    </section>
</body>

</html>