<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/colors.css">
    <title>Edit Project - Hire the best Developers</title>
</head>

<body>
    <section class=" text-white  xl:h-screen tertiary">
        <nav class="px-2 sm:px-4 py-2.5 rounded primary ">
            <div class="flex flex-wrap justify-between items-center mx-auto">
                <a href="/home.html" class="text-5xl font-bold">Logo</a>
                <ul class="flex flex-col p-4 mt-4  rounded-lg  md:flex-row md:space-x-8 md:mt-0 text-lg">
                    <li><a href="/home.html" class="block py-2 pr-2 pl-2 text-white">Home</a></li>
                    <li><a href="about.html" class="block py-2 pr-2 pl-2 rounded">About</a></li>
                    <li><a href="../base/Saved Profiles_profile.html" class="block py-2 pr-2 pl-2 rounded">Saved Profiles</a></li>
                    <li><a href="../accounts/account.html" class="block py-2 pr-2 pl-2 rounded" aria-current="page">Account</a>
                    </li>
                    <li><a href="../accounts/login.html" class="block py-2 pr-2 pl-2 rounded">Logout</a></li>
                </ul>
            </div>
        </nav>
        <div class="h-12"></div>
        <main class=" max-w-4xl m-auto ">
            <div class="flex primary mb-4">
                <div class="form w-full mx-16 my-10">
                    <form action="" method="post">
                        <div>
                            <input type="text" placeholder="Project Name" name="project-name"
                                class="w-full my-2 px-4 py-2 border rounded-md focus:outline-none  p-3">
                        </div>
                        <div>
                            <textarea
                                placeholder="Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec sollicitudin molestie malesuada. "
                                class="w-full h-52 my-4 px-4 py-2 border rounded-md focus:outline-none  p-3"
                                name="project-description"></textarea>
                        </div>

                        <div>
                            <input type="text" placeholder="Demo Link" name="demo-link"
                                class="w-full my-2 px-4 py-2 border rounded-md focus:outline-none  p-3">
                        </div>
                        <div>
                            <input type="text" placeholder="Github Link" name="github-link"
                                class="w-full my-2 px-4 py-2 border rounded-md focus:outline-none  p-3">
                        </div>

                        <div>
                            <label for="delete">Delete:
                            </label>
                            <input type="checkbox" id="delete" name="delete"
                                class="w-4 h-4 rounded-lg p-3 ml-4 focus:outline-none ">
                        </div>

                    </form>
                </div>
            </div>
            <div class="flex primary mt-4">
                <div class="form w-full mx-16 my-10">
                    <form action="" method="post">
                        <div>
                            <input type="text" placeholder="Project Name" name="project-name"
                                class="w-full my-2 px-4 py-2 border rounded-md focus:outline-none  p-3">
                        </div>
                        <div>
                            <textarea
                                placeholder="Nulla porttitor accumsan tincidunt. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec sollicitudin molestie malesuada. "
                                class="w-full h-52 my-4 px-4 py-2 border rounded-md focus:outline-none  p-3"
                                name="project-description"></textarea>
                        </div>

                        <div>
                            <input type="text" placeholder="Demo Link" name="demo-link"
                                class="w-full my-2 px-4 py-2 border rounded-md focus:outline-none  p-3">
                        </div>
                        <div>
                            <input type="text" placeholder="Github Link" name="github-link"
                                class="w-full my-2 px-4 py-2 border rounded-md focus:outline-none  p-3">
                        </div>

                        <div>
                            <label for="delete">Delete:
                            </label>
                            <input type="checkbox" id="delete2" name="delete"
                                class="w-4 h-4 rounded-lg p-3 ml-4 focus:outline-none ">
                        </div>

                    </form>
                </div>
            </div>
            <button type="submit" class="btn text-white font-bold secondary py-3 px-6 my-6 rounded-lg w-full">Update
                Project
            </button>
        </main>

    </section>
</body>

</html>